@font-face {
	font-family: Geist;
	src: url(../../public/fonts/Geist-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: Geist;
	src: url(../../public/fonts/Geist-Medium.ttf);
	font-weight: 500;
}
