@font-face {
	font-family: Geist;
	src: url(../../public/fonts/Geist-Thin.ttf);
	font-weight: 100;
}

@font-face {
	font-family: Geist;
	src: url(../../public/fonts/Geist-UltraLight.ttf);
	font-weight: 200;
}

@font-face {
	font-family: Geist;
	src: url(../../public/fonts/Geist-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: Geist;
	src: url(../../public/fonts/Geist-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: Geist;
	src: url(../../public/fonts/Geist-Medium.ttf);
	font-weight: 500;
}

@font-face {
	font-family: Geist;
	src: url(../../public/fonts/Geist-SemiBold.ttf);
	font-weight: 600;
}

@font-face {
	font-family: Geist;
	src: url(../../public/fonts/Geist-Bold.ttf);
	font-weight: 700;
}

@font-face {
	font-family: Geist;
	src: url(../../public/fonts/Geist-Black.ttf);
	font-weight: 800;
}

@font-face {
	font-family: Geist;
	src: url(../../public/fonts/Geist-UltraBlack.ttf);
	font-weight: 900;
}
